* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav span {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

nav a {
  color: white;
  font-size: 1rem;
}

.sphere-text {
  color: white;
  z-index: 2;
  font-weight: bold;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav span {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }
  nav a {
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
  }
  .sphere-text {
    top: 90%;
    font-size: 2rem;
    text-align: center;
  }
}